*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 14px;
}

header{
    width: 100%;
    background-color: #2c1762;

}
nav{
    max-width: 90%;
    margin: auto;
    border: 2px solid red;
    border-bottom: 1px solid #b48cfc;
    
}

.navLeft{
    flex-direction: row;
    flex: 0 auto;
    /* justify-content: space-between; */
    align-self: center;
    align-items: center;
    width: 50%;
    max-width: 50%;
    border: 2px solid green;
    display: flex;

}

.navLeft a{
    margin-right: 44px;
    display: flex;
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
}

.navLeft a img{
    vertical-align: middle;
    /* max-width: 100%; */
    display: inline-block;
    object-fit: contain;
    width: 200px;
    padding-right: 10px;
    /* border: 2px solid green; */
}

.navLeft .plans{
    margin-left: 0;
     
    flex: none;
    order: 0;
    margin-bottom: 8px;
    padding-left: 0;
    vertical-align: top;
    text-align: left;
   /* border: 2px solid greenyellow; */
    padding: 20px;  
    text-decoration: none;
    display: inline-block;
    position: relative;
}


.navLeft .plans a:nth-child(1){
    color: #b48cfc;
    font-size: 16px;
}

.navLeft .plans a:nth-child(2){
    color: #fff;
    font-size: 16px;
}